/* Efecto hover para agrandar ligeramente la card */
.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.05);
}

/* Configuramos un borde más ancho para todas las tarjetas */
.card {
  border: 4px solid #585953; /* Puedes ajustar el grosor y el color */
  border-radius: 8px; /* Opcional: redondear las esquinas */
}

/* Mantener dimensiones fijas para la imagen y el contenido */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  height: 200px;
  overflow: hidden;
}
